/* line 3, compass/sass/styles.scss */
body {
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 1;
}

/* line 9, compass/sass/styles.scss */
.container {
  padding: 0;
  width: 90%;
  margin: auto;
}

/* line 16, compass/sass/styles.scss */
#header-tab {
  padding-top: 35px;
  padding-bottom: 8px;
  border-bottom: 2px solid black;
  margin: 0px -15px;
}

/* line 22, compass/sass/styles.scss */
.heading {
  border-bottom: 2px solid black;
  margin-bottom: 25px;
}

/* line 26, compass/sass/styles.scss */
#logo-holder {
  width: 100%;
}

/* line 29, compass/sass/styles.scss */
#logo-holder img {
  width: 100%;
}

/* line 32, compass/sass/styles.scss */
.search-box {
  margin-top: 35px;
}

/* line 35, compass/sass/styles.scss */
#search-field {
  margin-top: 35px;
}

/* line 38, compass/sass/styles.scss */
#search-form {
  width: 70%;
}

/* line 41, compass/sass/styles.scss */
.account-box {
  margin-top: 35px;
}

/* line 44, compass/sass/styles.scss */
#video-links {
  padding-left: 0 !important;
}

/* line 47, compass/sass/styles.scss */
#video-links li {
  list-style: none;
  float: left;
  text-align: left;
  padding-right: 15px;
}

/* line 53, compass/sass/styles.scss */
#video-links li a {
  color: black;
}

/* line 56, compass/sass/styles.scss */
#login {
  margin-top: 35px;
  margin-right: 10px;
  text-align: right;
  float: right;
  width: 100%;
}

/* line 63, compass/sass/styles.scss */
#favorites ul li {
  list-style: none;
  float: right;
  margin-right: 10px;
}

/* line 68, compass/sass/styles.scss */
#favorites ul li a {
  color: black;
}

/* line 72, compass/sass/styles.scss */
#modal-image img {
  width: 100%;
}

/* line 75, compass/sass/styles.scss */
.video-well {
  background: #ebebeb;
}

/* line 78, compass/sass/styles.scss */
#video-holder {
  float: left;
  padding: 2% 2% 0 0;
}

/* line 82, compass/sass/styles.scss */
.suggested-videos-inner-wrapper {
  margin-top: 25px;
  padding: 0;
}

/* line 86, compass/sass/styles.scss */
.suggested-videos {
  float: left;
  width: 65%;
  padding: 0px;
  border: 1px solid;
}

/* line 92, compass/sass/styles.scss */
.suggested-videos img {
  width: 100%;
}

/* line 95, compass/sass/styles.scss */
.summary {
  float: left;
  width: 100%;
  padding: 0px;
  border: 1px solid;
}

/* line 101, compass/sass/styles.scss */
.summary p {
  margin-bottom: 0;
}

/* line 104, compass/sass/styles.scss */
#suggested-videos-wrapper {
  padding: 0;
}
